@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  80% {
    opacity: .75;
    transform: translateX(5%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  80% {
    opacity: .75;
    transform: translateX(-5%); }
  100% {
    opacity: 1;
    transform: translateX(1); } }

@keyframes move-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  80% {
    opacity: .6;
    transform: translateY(5%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: .5em; } }
  @media (max-width: 37.5em) {
    html {
      font-size: .4em; } }
  @media (min-width: 81.25em) {
    html {
      font-size: .9em; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  font-weight: 400;
  padding: 1rem; }
  @media (max-width: 37.5em) {
    body {
      padding: 0rem; } }

.heading-primary {
  display: block;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.5rem;
    animation: move-in-left 1s ease-out; }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        letter-spacing: 1.5rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.75rem;
    margin-bottom: 1rem;
    animation: move-in-right 1s ease-out; }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        letter-spacing: 1rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.section-about-us {
  font-size: 3rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-weight: 400;
  margin-bottom: 4rem;
  transition: all .2s; }
  @media (max-width: 37.5em) {
    .section-about-us {
      font-size: 2.5rem; } }
  .section-about-us:hover {
    transform: skewX(-2deg) skewY(-3deg);
    text-shadow: 0.5rem 0.5rem 1rem #7ed56f; }

.u-center {
  text-align: center; }

.u-margin-bottom {
  margin-bottom: 5rem; }

.u-horizontal-gutter:not(:last) {
  margin-right: 4rem; }

.btn {
  /*  */ }
  .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10rem;
    padding: 1.5rem 4.0rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    animation: move-in-bottom .5s ease-out 1.25s;
    animation-fill-mode: backwards;
    outline: none; }
  .btn--white {
    color: #777;
    background-color: #000; }
    .btn--white::after {
      background-color: #000;
      color: #777; }
  .btn--buy {
    color: #fff; }
  .btn:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0rem 0.8rem 0.2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleY(1.6) scaleX(1.3);
      opacity: 0; }
  .btn:active {
    transform: translateY(0rem);
    box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0); }
  .btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10rem;
    transition: all .4s; }
  @media (max-width: 37.5em) {
    .btn {
      transform: translateY(0rem);
      box-shadow: 0.5rem 0.8rem 0.5rem rgba(0, 0, 0, 0.2); }
      .btn:hover {
        transform: translateY(0rem);
        box-shadow: 0.5rem 0.8rem 0.5rem rgba(0, 0, 0, 0.2); }
      .btn:active {
        transform: translateY(1rem);
        box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0); } }

.row-btn:link, .row-btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px;
  transition: all .2s;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  display: inline-block; }

.row-btn:hover {
  color: #f7f7f7;
  background-color: #55c57a;
  transform: translateY(-0.3rem);
  box-shadow: 0rem 0.8rem 0.4rem rgba(0, 0, 0, 0.2); }
  .row-btn:hover::after {
    transform: scaleY(1.6) scaleX(1.3);
    opacity: 0; }

.row-btn:active {
  transform: translateY(0rem);
  box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0); }

.row-btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all .4s; }

.composition {
  position: relative; }
  .composition .comp-photo {
    position: absolute;
    width: 55%;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.4);
    z-index: 0;
    transition: all .2s;
    border-radius: .5rem; }
    .composition .comp-photo--1 {
      top: 0rem;
      left: 0; }
    .composition .comp-photo--2 {
      top: 3rem;
      right: .5rem; }
    .composition .comp-photo--3 {
      top: 7rem;
      left: 5.5rem; }
    @media (max-width: 37.5em) {
      .composition .comp-photo {
        width: 40%; }
        .composition .comp-photo--1 {
          top: 0rem;
          left: 3.5rem; }
        .composition .comp-photo--2 {
          top: 0rem;
          right: 3.5rem; }
        .composition .comp-photo--3 {
          top: 2rem;
          left: 10rem; } }
    .composition .comp-photo:hover {
      transform: translateY(-0.2rem);
      transform: scale(1.1);
      z-index: 1;
      box-shadow: 0rem 1.5rem 1.5rem rgba(0, 0, 0, 0.4); }
  .composition:hover .comp-photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  display: inline-block;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: whitesmoke;
  height: 25rem;
  box-shadow: 0rem 0.5rem 0.8rem rgba(0, 0, 0, 0.4);
  transition: all .3s; }
  .feature-box--text {
    font-size: 1rem; }
  .feature-box--text {
    font-size: 1rem;
    padding: 0rem 2rem 2rem 2rem; }
  .feature-box:hover {
    transform: scale(1.1) translateY(-1rem);
    box-shadow: 0rem 0.8rem 0.6rem rgba(0, 0, 0, 0.6); }
  @media (max-width: 37.5em) {
    .feature-box {
      padding: 0rem;
      height: 18rem; } }

[class^=icon-basic] {
  font-size: 4rem;
  background-image: linear-gradient(to right, #28b485, #7ed56f);
  -webkit-background-clip: text;
  color: transparent; }

.section-features {
  padding: 20rem 0rem;
  background-image: linear-gradient(to right, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8)), url(../img/nat-4.jpg);
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 37.5em) {
    .section-features {
      padding: 10rem 0rem;
      padding-bottom: 11rem;
      transform: skewY(-3deg);
      margin-top: 18rem; }
      .section-features > * {
        transform: skewY(3deg); } }

.cards {
  margin-top: 8rem;
  height: 50vh;
  text-align: center; }
  .cards-title {
    padding: 3rem 0rem;
    transition: all .1s ease;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #55c57a;
    font-weight: 400;
    letter-spacing: .25rem; }
    .cards-title:hover {
      transform: skewY(-3deg);
      text-shadow: 1rem 0.4rem 0.5rem rgba(93, 139, 72, 0.8); }
  @media (max-width: 37.5em) {
    .cards {
      height: 170vh;
      margin-top: 4rem; }
      .cards .card:not(.first-card) {
        margin-top: 42rem; } }

.card {
  text-align: center;
  height: 15rem;
  width: 100%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  @media (max-width: 37.5em) {
    .card {
      height: 5rem; } }
  .card--side {
    width: 100%;
    height: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 2s ease;
    backface-visibility: hidden;
    border-radius: .5rem;
    overflow: hidden; }
    @media (max-width: 37.5em) {
      .card--side {
        backface-visibility: visible;
        height: 22rem; } }
    .card--side-buy {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .card--side-buy-text {
        font-size: 1rem; }
      .card--side-buy-price {
        font-size: 5rem;
        font-weight: 100; }
    .card--side__details {
      padding: 2.5rem; }
      .card--side__details ul {
        margin: 0 auto;
        list-style-type: none;
        width: 90%; }
        .card--side__details ul li {
          padding: .65rem; }
          .card--side__details ul li:not(:last-child) {
            border-bottom: 1px solid #fff; }
      @media (max-width: 37.5em) {
        .card--side__details {
          padding: .5rem; }
          .card--side__details ul {
            width: 50%; } }
  .card--front {
    box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .card--back {
    box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.6);
    transform: rotateY(180deg);
    z-index: 0; }
    .card--back-color-2 {
      background-image: linear-gradient(to right bottom, #55c57a, #7ed56f); }
    .card--back-color-3 {
      background-image: linear-gradient(to right bottom, #5643fa, #2998ff); }
    .card--back-color-1 {
      background-image: linear-gradient(to right bottom, #ff7730, #ffb900); }
  .card:hover .card--front {
    transform: rotateY(-180deg); }
  .card:hover .card--back {
    transform: rotateY(0deg); }
  @media (max-width: 37.5em) {
    .card:hover .card--front {
      transform: rotateY(0deg); }
    .card--back {
      transform: rotateY(0deg); }
    .card--back {
      margin-top: 22rem;
      z-index: 1; } }
  .card__img {
    height: 8rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%); }
    .card__img--1 {
      background-image: url(../img/nat-5.jpg), linear-gradient(to right bottom, #ff7730, #ffb900); }
    .card__img--2 {
      background-image: url(../img/nat-6.jpg), linear-gradient(to right bottom, #55c57a, #7ed56f); }
    .card__img--3 {
      background-image: url(../img/nat-7.jpg), linear-gradient(to right bottom, #5643fa, #2998ff); }
  .card__header {
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 4rem;
    right: 0rem;
    color: #fff;
    width: 65%;
    border-radius: 3px;
    padding: 2rem 0 2rem 2rem; }
    .card__header--1 {
      background-image: linear-gradient(to right bottom, #ff7730, #ffb900); }
    .card__header--2 {
      background-image: linear-gradient(to right bottom, #55c57a, #7ed56f); }
    .card__header--3 {
      background-image: linear-gradient(to right bottom, #5643fa, #2998ff); }
    .card__header-span {
      padding: .5rem;
      box-decoration-break: clone; }

.stories {
  position: relative;
  z-index: 0; }
  .stories-heading {
    text-align: center;
    padding: 4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-image: linear-gradient(to left, #7ed56f, #55c57a);
    text-shadow: 0rem 0.5rem 0.7rem rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.story {
  margin: 0 auto;
  width: 60%;
  padding: 4rem;
  background-color: rgba(230, 230, 250, 0.4);
  border-radius: 10px;
  transform: skewX(-5deg); }
  @media (max-width: 37.5em) {
    .story {
      width: 100%; } }
  .story--shape {
    height: 10rem;
    width: 10rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    border-radius: 5px;
    transform: translateX(-1rem) skewX(5deg);
    clip-path: circle(50%);
    position: relative; }
    .story--shape__img1 {
      height: 100%;
      transform: translateX(-2.3rem);
      transition: all 1s; }
    .story--shape__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 0;
      text-align: center;
      transition: all .5s; }
  .story:hover .story--shape__text {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story--shape__img1 {
    transform: translateX(-2.3rem) scale(1.4);
    filter: blur(3px); }
  .story--text {
    transform: skewX(5deg); }
    .story--text__h3 {
      padding-bottom: 1rem; }

.bg-vid-container {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: -3;
  height: 108%;
  width: 100%; }

.bg-vid {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.popup--view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); }
  @supports (backdrop-filter: blur()) {
    .popup--view {
      backdrop-filter: blur(5px); } }
  .popup--view:target {
    display: table; }

.popup__main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 85%;
  height: 35%;
  animation: popup-appear 1s ease; }
  .popup__main .column {
    height: 100%;
    float: left; }
  .popup__main .left {
    width: 30%; }
    .popup__main .left-1, .popup__main .left-2 {
      height: 50%;
      background-size: cover;
      background-position: center; }
    .popup__main .left-1 {
      background-color: saddlebrown;
      background-image: url("../img/nat-8.jpg"); }
    .popup__main .left-2 {
      background-color: white;
      background-image: url("../img/nat-9.jpg"); }
  .popup__main .right {
    width: 70%;
    padding: 5rem 2rem;
    word-spacing: .2rem; }
    @media (max-width: 37.5em) {
      .popup__main .right {
        word-spacing: 0rem;
        overflow: hidden;
        padding: 2rem 1rem; } }
    .popup__main .right-header {
      background-image: linear-gradient(to right, #55c57a, #28b485);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      font-size: 2.5rem;
      text-transform: uppercase; }
    .popup__main .right-sub-header {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      font-size: 1.2rem;
      padding: 1.5rem 0rem; }
    .popup__main .right-text {
      columns: 15rem 2;
      display: inline-block;
      width: 100%;
      height: 63%;
      hyphens: auto;
      word-spacing: 0rem;
      overflow: hidden; }
      @media (max-width: 37.5em) {
        .popup__main .right-text {
          width: 100%; } }
  .popup__main .closebtn {
    position: absolute;
    right: 0%;
    padding: .5em 1.3rem;
    transform: scaleY(0.3) scaleX(0.4) scale(3);
    font-size: 1rem;
    outline: none;
    color: inherit;
    text-decoration: none;
    cursor: pointer; }

@keyframes popup-appear {
  from {
    margin-top: -10rem;
    opacity: 0; }
  to {
    opacity: 1; } }

.row {
  max-width: 80rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  @media (max-width: 37.5em) {
    .row {
      max-width: 35rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
    @media (max-width: 37.5em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc((100% - (3rem * 2)) / 3); }
    @media (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-2-of-3 {
    width: calc(100% - 3rem - calc((100% - (3rem * 2)) / 3)); }
  .row .col-1-of-4 {
    width: calc((100% - (3rem * 3)) / 4);
    height: 100%; }
    @media (max-width: 37.5em) {
      .row .col-1-of-4 {
        width: 80%;
        margin-top: 1rem;
        margin-left: 3.45rem; } }
  .row .col-2-of-4 {
    width: calc(100% - 2*(3rem + calc((100% - (3rem * 3)) / 4))); }
  .row .col-3-of-4 {
    width: calc(100% - 3rem - calc((100% - (3rem * 3)) / 4)); }

.header {
  height: 85vh;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (-webkit-min-device-pixel-ratio: 1) and (max-width: 2000px) {
    .header {
      background-image: linear-gradient(rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg); } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-width: 850px), (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 192dpi) and (min-width: 600px) {
    .header {
      background-image: linear-gradient(rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  margin-top: -25rem; }
  @media (max-width: 37.5em) {
    .footer {
      margin-top: -22rem; } }
  .footer-container {
    text-align: center; }
    @media (max-width: 37.5em) {
      .footer-container .row {
        margin-top: 1.5rem; } }
  .footer--logo {
    padding: 1rem 0;
    scale: .5; }
    @supports not (scale: none) {
      .footer--logo {
        transform: scale(0.5); } }
    @media (max-width: 56.25em) {
      .footer--logo {
        padding: 0rem;
        scale: .4; }
        @supports not (scale: none) {
          .footer--logo {
            transform: scale(0.4); } } }
    @media (max-width: 37.5em) {
      .footer--logo {
        padding: 0rem;
        scale: .5; }
        @supports not (scale: none) {
          .footer--logo {
            transform: scale(0.5); } } }
  .footer .list--unordered {
    border-top: 1px solid darkgray;
    text-align: justify;
    list-style: none; }
    .footer .list--unordered:after {
      content: "";
      width: 100%;
      display: inline-block; }
    .footer .list--unordered__item {
      display: inline-block; }
    .footer .list--unordered__item a {
      color: inherit;
      text-decoration: none; }
  .footer .col-1-of-2 {
    padding-top: 0; }
  .footer-bio {
    border-top: 1px solid darkgray;
    text-align: justify; }

.nav {
  height: 90vh;
  width: 98%;
  position: absolute; }
  .nav-container {
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: 1s all cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 3000; }
  .nav-background {
    height: 2rem;
    width: 2rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    transition: 1s ease-out; }
  .nav-list {
    list-style-type: none;
    text-align: center;
    width: 100%; }
    .nav-list__item:not(:last-child) {
      margin-bottom: 0; }
    .nav-list__link {
      display: inline-block;
      width: 100%;
      padding: 2rem 6rem;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2rem;
      background-image: linear-gradient(120deg, transparent 50%, white 50%);
      background-size: 240%;
      color: inherit;
      text-decoration: none;
      outline: none;
      transition: .8s all; }
    .nav-list__link:hover {
      box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
      background-position: 100%; }
  .nav input {
    position: fixed;
    top: 6rem;
    right: 7.3rem;
    cursor: pointer;
    transform: scale(2);
    display: hidden;
    opacity: 0;
    z-index: 2000; }
    .nav input + label {
      position: fixed;
      top: 3.5rem;
      right: 5rem;
      background-color: white;
      padding: 3rem;
      border-radius: 50%;
      z-index: 1800;
      transition: .5s all; }
      .nav input + label:hover {
        box-shadow: 0.3rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }
    .nav input:checked ~ .nav-container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2800;
      opacity: 1;
      visibility: visible; }
    .nav input:checked ~ .nav-background {
      position: fixed;
      transform: scale(400);
      background-image: radial-gradient(circle, #7ed56f, #28b485);
      z-index: 1750; }
    .nav input:checked + label span {
      background-color: transparent; }
      .nav input:checked + label span::after {
        content: "";
        position: absolute;
        top: 0rem;
        background-color: cadetblue;
        width: 20px;
        height: 1px;
        transform: rotate(40deg); }
      .nav input:checked + label span::before {
        width: 20px;
        content: "";
        position: absolute;
        top: 0rem;
        background-color: cadetblue;
        width: 20px;
        height: 1px;
        transform: rotate(-40deg); }
  .nav label span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 1px;
    background-color: #7ed56f; }
    .nav label span::after {
      transition: .2s all;
      content: "";
      position: absolute;
      top: .5rem;
      background-color: #7ed56f;
      width: 20px;
      height: 1px; }
    .nav label span::before {
      transition: .2s all;
      content: "";
      position: absolute;
      top: -.5rem;
      background-color: #7ed56f;
      width: 20px;
      height: 1px; }
  .nav label:hover span::before {
    top: -1.1rem; }
  .nav label:hover span::after {
    top: 1.1rem; }

.main-section {
  padding: 25rem 0rem;
  margin-top: -23rem;
  background-color: #f7f7f7; }
  @media (max-width: 37.5em) {
    .main-section {
      margin-top: -21rem; } }

.col-1-of-2 {
  padding: 2rem; }
  @media (max-width: 37.5em) {
    .col-1-of-2 {
      padding: 1rem; } }

.heading-tertiary {
  padding-bottom: 1rem;
  font-size: 1.7rem; }

.row-descrip:not(:last-child) {
  margin-bottom: 2rem; }

.book {
  height: 50vh;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  margin-top: 18vh;
  position: relative; }
  .book .booking {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 80%;
    border-radius: 3px;
    box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0)), url("../img/nat-10.jpg");
    background-size: cover; }
    .book .booking .form {
      margin-top: 7rem;
      height: 50%;
      width: 50%;
      padding: 3rem; }
      .book .booking .form--group {
        width: 80%;
        position: relative; }
        .book .booking .form--group:not(:last-child) {
          margin-bottom: 1.9rem; }
        .book .booking .form--group #name,
        .book .booking .form--group #email {
          width: 10rem;
          transition: all .2s; }
          .book .booking .form--group #name,
          .book .booking .form--group #name label,
          .book .booking .form--group #email,
          .book .booking .form--group #email label {
            border: none;
            outline: none;
            border-radius: 1px;
            font-family: inherit;
            font-size: 1rem; }
          .book .booking .form--group #name + label,
          .book .booking .form--group #email + label {
            position: absolute;
            top: 0;
            opacity: .5;
            visibility: hidden; }
          .book .booking .form--group #name:focus,
          .book .booking .form--group #email:focus {
            border-bottom: 2px solid orange; }
            .book .booking .form--group #name:focus:valid,
            .book .booking .form--group #email:focus:valid {
              border-bottom: 2px solid #7ed56f; }
            .book .booking .form--group #name:focus::placeholder,
            .book .booking .form--group #email:focus::placeholder {
              color: transparent; }
            .book .booking .form--group #name:focus + label,
            .book .booking .form--group #email:focus + label {
              transition: .2s all;
              position: absolute;
              top: 1.5rem;
              left: 0rem;
              opacity: .5;
              visibility: visible; }
        .book .booking .form--group .radio-buttons input {
          opacity: 0;
          outline: 0; }
          .book .booking .form--group .radio-buttons input#tour2 {
            margin-left: 25%; }
          .book .booking .form--group .radio-buttons input + label {
            margin: .5rem; }
            .book .booking .form--group .radio-buttons input + label .radio__circle {
              height: 1rem;
              width: 1rem;
              position: absolute;
              box-shadow: 0 0 0 0.2rem #55c57a;
              border-radius: 50%;
              top: 15%;
              left: 0;
              transition: 1s all; }
          .book .booking .form--group .radio-buttons input:hover + label > .radio__circle::before {
            transition: .5s all;
            opacity: 0; }
          .book .booking .form--group .radio-buttons input:hover + label > .radio__circle::after {
            height: 50%;
            width: 50%;
            background-color: #55c57a;
            top: 25%;
            left: 25%;
            border-radius: 50%;
            content: "";
            position: absolute;
            opacity: 1; }
          .book .booking .form--group .radio-buttons input:checked + label > .radio__circle {
            background-color: #55c57a; }
            .book .booking .form--group .radio-buttons input:checked + label > .radio__circle::after {
              display: none; }
