$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-black: #000;
$color-primary-gray: #777;
$color-white: #fff;

$color-second-light: #ffb900;
$color-second-dark: #ff7730;

$color-third-light: #2998ff;
$color-third-dark: #5643fa;

$light-gray-1: #f7f7f7;

//grid
$row-margin-bottom: 5rem;
$row-max-width: 80rem;
$row-max-width-phone: 35rem;
$column-margin-right: 3rem;
