body {
	font-family: 'Lato', sans-serif;
	line-height: 1.7;
	font-weight: 400;
	padding: 1rem;

	@include screen(phone) {
		padding: 0rem;
	}
}

.heading-primary {
	display: block;
	backface-visibility: hidden;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 3.5rem;
		animation: move-in-left 1s ease-out;

		@include screen(tab-land) {
			letter-spacing: 1.5rem;
		}

		@include screen(phone) {
			letter-spacing: 1rem;
		}
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.75rem;
		margin-bottom: 1rem;
		animation: move-in-right 1s ease-out;

		@include screen(tab-land) {
			letter-spacing: 1rem;
		}

		@include screen(phone) {
			letter-spacing: .5rem;
		}
	}
}

.section-about-us {
	font-size: 3rem;
	display: inline-block;
	background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
	-webkit-background-clip: text;
	color: transparent;
	text-transform: uppercase;
	letter-spacing: .5rem;
	font-weight: 400;
	margin-bottom: 4rem;

	transition: all .2s;

	@include screen(phone) {
		font-size: 2.5rem;
	}

	&:hover {
		transform: skewX(-2deg) skewY(-3deg);
		text-shadow: .5rem .5rem 1rem $color-primary-light;
	}
}
