.u-center {
	text-align: center;
}

.u-margin-bottom {
	margin-bottom: 5rem;

	// @include screen(phone) {
	// 	margin-bottom: 2rem;
	// }
}

.u-horizontal-gutter {
	&:not(:last) {
		margin-right: 4rem;
	}
}
